# Node/Vite
node_modules/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# IDE
.vscode/
.idea/

# Misc
*.tmp
*.swp

# Exclude test/build folders
/build/
/test/

cv/

# Exclude coverage
coverage/

# Exclude package lock
package-lock.json
yarn.lock

# Exclude others
*.bak
*.old
