node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.local
.replit
replit.nix
.env
.env.local
.env.*
!.env.example
.vite
.cache
coverage
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode